<script>
  	import { Router, Link, Route } from "svelte-routing";
	import CreateTest from './CreateTest.svelte';
	import ListTests from './ListTests.svelte';
	import RunTest from './RunTest.svelte';
	import ShowTest from './ShowTest.svelte';

	

	let url = "";
</script>

<style>
	nav {
		margin: 2em 0 2em 0; 
	}
</style>


<Router url="{url}">
	<nav>
		<Link to="/">Tests</Link>
		<Link to="create">Create</Link>
	</nav>
	<div>
		<Route path="/" component="{ListTests}" />
		<Route path="create" component="{CreateTest}" />
		<Route path="test"> 
			<RunTest/>
		</Route>
	</div>
</Router>

<!-- <CreateTest/> -->
<!-- <ListTests/> -->
<!-- <RunTest questions="{questions}" firstQuestionKey={1}/> -->
<!-- <ShowTest/> -->
