<script>
	let testname = "";
	let startKey;
	let questions = {
		1 : {text: "What do you choose?", yes: 2, no: 3},
		2 : {text: "See that if 'yes' was chosen. What's next?", yes: 4, no: ''},
		3 : {text: "See that if 'no' was chosen. What's next?", yes: '', no: 5},
		4 : {text: "Another 'yes'. What's next?", yes: '', no:''},
		5 : {text: "Another 'no'. What's next?", yes: '', no:''},
		6 : {text: "Wow and now you choose the opposite!", yes: '', no: ''}
	}

	$: readyTest = {name: testname, startKey, questions };

	let questionKey = '';
	// let text = '';
	// let yes = '';
	// let no = '';

	let i = 0;
	let newQuestionKey = 0;

	$: maxQuestionKey = Math.max(...Object.keys(questions))
	$: newQuestionKey = (maxQuestionKey >= newQuestionKey) ? maxQuestionKey+1 : newQuestionKey;

	$: selectedQuestionKey = Object.keys(questions)[i]
	$: selectedQuestion = questions[selectedQuestionKey]
	$: reset_inputs(selectedQuestionKey, selectedQuestion)

	function reset_inputs(key, question) {
		questionKey = key;
		// text = question.text;
		// yes = question.yes;
		// no = question.no;
	}

	function mark_answers(question, markedKey){
		if(markedKey == question.yes) return 'yes';
		else if(markedKey == question.no) return 'no';
		else return '';
	}

	function create(){
		questions[newQuestionKey] = {text : '', yes: '', no: ''}
		i = Object.keys(questions).length-1;
		questions = questions
	}

	function update(){
		questions[selectedQuestionKey].text = text
		questions[selectedQuestionKey].yes = yes
		questions[selectedQuestionKey].no = no
		questions = questions
	}

	function remove(){
		if(Object.keys(questions).length > 1){
			delete questions[selectedQuestionKey]
			i = i == Object.keys(questions).length ? i-1 : i
			questions = questions
		}
	}
</script>

<style>
	
	option.yes {
		background-color: hsl(120, 100%, 60%);
	}
	option.no {
		background-color: hsl(0, 100%, 60%)
	}
	input {
		display:block;
		margin: 0 0 0.5em 0;
		width: 15em
	}
	textarea {
		width: 15em;
	}
	select {
		float:left;
		width: 18em;
		margin: 0 2em 1em 0;
	}
	.buttons {
		clear: both;
	}
</style>

<div style="display: inline-block">
	<label><input bind:value="{testname}" placeholder="Test name"></label>
	<p>Start question is </p>
	<select bind:value="{startKey}">
		{#each Object.entries(questions) as [key, question], i}
			<option value="{key}"> {key}: {question.text} </option>
		{/each}
	</select>
</div>

<div >
	<select bind:value={i} size={10}>
		{#each Object.entries(questions) as [key, question], i}
			<option class="{mark_answers(selectedQuestion,key)}" value={i}>
				({i}) {key} : {question.text}
			</option>
		{/each}
	</select>
</div>

<div>
	<p>Question key = {questionKey}</p>
	<label><textarea rows=4 bind:value={selectedQuestion.text} placeholder="question text"></textarea></label>
	<label><input bind:value={selectedQuestion.yes} placeholder="Next question key on 'yes'"></label>
	<label><input bind:value={selectedQuestion.no} placeholder="Next question key on 'no'"></label>
</div>



<div class="buttons">
	<button on:click="{create}">Create</button>
	<button on:click="{update}">Update</button>
	<button on:click="{remove}">Delete</button>
</div>

<p>To save test copy that JSON:<br>
	<!-- New question Key = {newQuestionKey}<br> -->
	{JSON.stringify(readyTest)}<br>
	and put it into store.js
</p>
