<script>
    import { test, tests } from './tests.js'
    import { navigate } from "svelte-routing";

    let selectedTest = $tests[0];
    
    function runTest(){
        test.set(selectedTest);
        navigate("/test", {replace: true});
    }
</script>

<style>
    select {
        width: 20em;
    }

    button {
        width: 10em;
        margin-left: 5em;
    }
</style>

<p>{JSON.stringify($test)}</p>

<select bind:value={$test} size={10}>
    {#each $tests as test}
        <option value={test}>{test.name}</option>
    {/each}
</select>

<label><button on:click={runTest}>Run test</button></label>
