<script>
	import { test } from './tests.js'

	export let firstQuestionKey = $test.startKey;
	export let questions = $test.questions;
	let answers = [];
	
	
	let questionKey = firstQuestionKey;
	$: question = questions[questionKey];
	let i = 0;
	
	function next_question(keyName){
		answers = [...answers, {question, answer: keyName}]
		questionKey = question[keyName];//keyName can be 'yes' or 'no'				
	}
	
	function upload_answer(){
		
		return '';
	}

</script>

<style>
	textarea.question {
		width: 20em;
		height: 7em;
	}
</style>

<!-- <p>{JSON.stringify(questions)}</p> -->

{#if question}
<label><textarea class="question">{question.text}</textarea></label>

<button on:click="{()=>{next_question('yes')}}">yes</button>
<button on:click="{()=>{next_question('no')}}">no</button>
{:else}
Finished! {upload_answer()}
{/if}

<hr>

{#each answers as {question, answer}}
	<p>{question.text}, {answer}</p>
{/each}

<!-- <p>
	Debug<br>
	Current question: {question.no}<br>
	i={i}
</p>
 -->